
.tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 8px;
  background: #ddd;
  pointer-events: none;
  border: 1px solid #eee;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 10pt;
  color: black;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.label {
  font-size: 10pt;
}
